#
# Globus environment
#
<%if @configfile.to_s!='' -%>conf=<%= @configfile %><% end -%>

<%if @configdir.to_s!='' -%>confdir=<%= @configdir %><% end -%>

<%if @globus_tcp_port_range.to_s!='' -%>
GLOBUS_TCP_PORT_RANGE="<%= @globus_tcp_port_range %>"
<% end -%>
<%if @globus_udp_port_range.to_s!='' -%>
GLOBUS_UDP_PORT_RANGE="<%= @globus_udp_port_range %>"
<% end -%>
GLOBUS_THREAD_MODEL="<%= @thread_model %>"
GLOBUS_GSSAPI_FORCE_TLS=<%= @force_tls %>
<%if @globus_min_tls_protocol -%>
GLOBUS_GSSAPI_MIN_TLS_PROTOCOL=<%= @globus_min_tls_protocol %>
<% end -%>
<%if @globus_max_tls_protocol -%>
GLOBUS_GSSAPI_MAX_TLS_PROTOCOL=<%= @globus_max_tls_protocol %>
<% end -%>
<%if @globus_ciphers -%>
GLOBUS_GSSAPI_CIPHERS='<%= @globus_ciphers %>'
<% end -%>
<%if defined?(@globus_server_cipher_order) -%>
GLOBUS_GSSAPI_SERVER_CIPHER_ORDER=<% if @globus_server_cipher_order -%>true<% else -%>false<% end %>
<% end -%>
<%if defined?(@globus_compatible_mic) -%>
GLOBUS_GSSAPI_BACKWARD_COMPATIBLE_MIC=<% if @globus_compatible_mic -%>true<% else -%>false<% end %>
<% end -%>
